services:
  postgres:
    image: postgres:16
    container_name: postgres-sport
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rh_sport
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

volumes:
  postgres_data: