services:
  postgres:
    image: postgres:16
    container_name: postgres-sport
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: rh_sport
    ports:
      - "5432:5432"
    command:
      - "postgres"
      - "-c"
      - "wal_level=logical"
      - "-c"
      - "max_wal_senders=10"
      - "-c"
      - "max_replication_slots=10"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d rh_sport"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

  pipeline:
    build:
      context: .
      dockerfile: ./scripts/Dockerfile
    container_name: pipeline-runner
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: "1"
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: rh_sport
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    command: ["python", "-u", "scripts/ETL_Full_Load/pipeline.py"]
    volumes:
      - ./data:/app/data

  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:v23.3.12
    container_name: redpanda
    command:
      - redpanda
      - start
      - --smp=1
      - --memory=1G
      - --overprovisioned
      - --node-id=0
      - --check=false
      - --kafka-addr=INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:19092
      - --advertise-kafka-addr=INTERNAL://redpanda:9092,EXTERNAL://localhost:19092
    ports:
      - "9092:9092"
      - "19092:19092"
    volumes:
      - redpanda_data:/var/lib/redpanda/data
  
  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:v2.6.0
    container_name: redpanda-console
    environment:
      KAFKA_BROKERS: redpanda:9092
    ports:
      - "8080:8080"
    depends_on:
      - redpanda

  debezium:
    image: debezium/connect:2.7.3.Final
    container_name: debezium
    depends_on:
      - redpanda
      - postgres
    environment:
      BOOTSTRAP_SERVERS: redpanda:9092
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: debezium-config
      OFFSET_STORAGE_TOPIC: debezium-offset
      STATUS_STORAGE_TOPIC: debezium-status
      KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      KEY_CONVERTER_SCHEMAS_ENABLE: "false"
      VALUE_CONVERTER_SCHEMAS_ENABLE: "false"
    ports:
      - "8083:8083"

  debezium-init:
    image: curlimages/curl:8.8.0
    container_name: debezium-init
    depends_on:
      debezium:
        condition: service_started
      redpanda:
        condition: service_started
      pipeline:
        condition: service_completed_successfully
    volumes:
      - ./debezium:/init
    command: >
      sh -c '
      echo "Attente de Debezium Connect...";
      until curl -s http://debezium:8083/connectors > /dev/null; do
        echo "Debezium pas prêt, attente 5s...";
        sleep 5;
      done;
      echo "Debezium prêt, création/mise à jour du connecteur...";
      curl -s -o /dev/null -w "%{http_code}" -X POST \
        -H "Content-Type: application/json" \
        --data @/init/debezium-postgres-connector.json \
        http://debezium:8083/connectors \
        | grep -qE "200|201" && echo "Connecteur créé." || echo "Connecteur déjà présent ou erreur bénigne.";
      echo "Fin de debezium-init.";
      '

  stream_cdc:
    build:
      context: .
      dockerfile: ./scripts/Dockerfile
    container_name: strava-cdc-stream
    env_file:
    - .env
    depends_on:
      pipeline:
        condition: service_completed_successfully
      debezium:
        condition: service_started
      redpanda:
        condition: service_started
      debezium-init:
        condition: service_completed_successfully
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "redpanda:9092"
    command: ["python", "-u", "scripts/Jobs_Spark/continuous_integration_strava_activities.py"]
  
  slack_notifier:
    build:
      context: .
      dockerfile: ./scripts/Dockerfile
    container_name: slack-notifier
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redpanda:
        condition: service_started
      debezium-init:
        condition: service_completed_successfully
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "redpanda:9092"
      POSTGRES_HOST: "postgres"
      POSTGRES_PORT: 5432
      POSTGRES_DB: "rh_sport"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    command: ["python", "-u", "scripts/Jobs_Spark/slack_new_activity_notifier.py"]

  distance-worker:
    build:
      context: .
      dockerfile: ./scripts/Dockerfile
    container_name: distance-worker
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redpanda:
        condition: service_started
    environment:
      PYTHONUNBUFFERED: "1"
      GOOGLE_MAPS_API_KEY: "${API_KEY_MAPS}"
      KAFKA_BOOTSTRAP_SERVERS: "redpanda:9092"
      POSTGRES_HOST: "postgres"
      POSTGRES_PORT: 5432
      POSTGRES_DB: "rh_sport"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    command: ["python", "-u", "scripts/Jobs_Spark/distance_worker.py"]

  spark-thrift:
    build:
      context: .
      dockerfile: ./spark/Dockerfile
    container_name: spark-thrift
    depends_on:
      pipeline:
        condition: service_completed_successfully
    volumes:
      - ./data/delta:/data/delta
    ports:
      - "10000:10000"



volumes:
  postgres_data:
  redpanda_data: